.result{
    display:flex;
    flex-direction:column;
    margin-top:60px;
    margin-left:10px;
    margin-right:20px;
    background-color:blue;
    height:500px;
    padding-left:90px;
    padding-top:90px;
}
.search{
    display:flex;
    flex-direction: row;
    margin-right: 60px;
}
#lab{
    font-size:22px;
    color:green;
    font-weight: 500;
}
#city{
    font-size:80px;
    color:white;
}
#temp{
  
    color:white;
    font-size:30px;
}
#search{
    margin-left:10px;

}
h3{
    color:yellow;
}